{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 80,
  "tabWidth": 2,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "embeddedLanguageFormatting": "auto",
  "proseWrap": "always",
  "htmlWhitespaceSensitivity": "strict",
  "jsxSingleQuote": false,
  "quoteProps": "as-needed"
}
